{% extends 'layout.html' %}

{% block content %}
    <h1>DASHBOARD</h1>
    <section class="seccion_dash">
        {% for personaje in personajes_favoritos %}
            <div class="aqui_favs">
                <span>
                    NOMBRE :{{ personaje["description_personaje"] }}
                </span>
                <img src="{{ personaje['img_personaje'] }}" alt="IMAGEN NO ENCONTRADA">
                <span>
                    ID :{{ personaje["id_personaje"] }}
                </span>
            </div>
    
        {% endfor %}
    </section>
{% endblock %}