{% extends 'layout.html' %}

{% block content %}
    <section id="estilos_log_form">
        <form action="{{ url_for('auth.login_submit') }}" id="formulario_log" method="post">
    
            <div class="divs">
                <label>Email</label>
                <input type="email" name="email" placeholder="Ej: Alberto">
            </div>
    
            <div class="divs">
                <label>Contraseña</label>
                <input type="password" name="password_user" placeholder="contraseña123">
            </div>
    
            <button type="submit">Iniciar Sesión</button>
        </form>
    </section>


{% endblock %}